# Ignore .env file
.env

# Ignore all generated HTML pages
web/*.html

# Ignore all custom pages, do not ignore the help page
src/pages/*.hy
!src/pages/Help.hy

# Ignore all generated CSS files, do not ignore index.css
web/css/*.css
!web/css/index.css

# Ignore all generated font files
web/fonts

# Ignore all copied SVG files
web/svg

# Ignore all ZIP package file
web/package
