context $version, $integrity, $base_url, $plausible_domain, $plausible_script_url, $contact_email, $pages
doctype
html lang="en"
	head
		meta charset="utf-8"
		link rel="icon" href="favicon.ico"
		link rel="stylesheet" href="{$base_url}releases/{$version}/css/PodcastFont.css" integrity="{$integrity}" crossorigin="anonymous"
		link rel="stylesheet" href="{$base_url}index.css"
		title | Legal Notice
		meta name="viewport" content="width=device-width, initial-scale=1"
		meta id="meta-application-name" name="application-name" content="The Podcast Font"
		meta id="meta-description" name="description" content="The Podcast Font provides all the icons you need for your podcast website, your podcast app or your podcast documents."
		if $plausible_script_url is not None:
			/ <script defer data-domain="$plausible_domain" src="$plausible_script_url"></script>
			! <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>		
	body
		h1
			| Legal Notice
			i .pi .pi-legal
		h2 | Publisher
		p
		h2 | Contact
		p
			if $contact_email is not None:
				a href="mailto:$contact_email" data-analytics='"Contact",{{"props":{{"Via":"E-mail"}}}}'
					| $contact_email
		h2 | Publication director
		h2 | Hosting company
		h2 | Privacy Policy
		h2 | Cookies
		h2 | Copyrights
		h2 | Licences
		h2 | Limitation of liability
		h2 | Contractual limitations on technical data

		div .footer
			a href="/" | Home
			for page in $pages:
				| · 
				a href="$page['html']" | $page['title']
			| · 
			a href="https://code.podlibre.org/podlibre/podcastfont/-/issues/new?issue[title]=Icon request: icon-name&issue[description]=Please provide SVG file and all useful information here." target="_blank" data-analytics='"Contact",{{"props":{{"Via":"Gitlab"}}}}'
				| Request an Icon
			| · 
			if $contact_email is not None:
				a href="mailto:$contact_email" data-analytics='"Contact",{{"props":{{"Via":"E-mail"}}}}'
					| Contact us								
			span .right
				| Version $version